<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>TWINBULL</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid">
                <div class="navbar-header" >
                    <a class="navbar-brand" href="/">TWINBULL</a>
                </div>
                <ul class="nav navbar-nav">
                    <li> <a href="/">Home</a></li>
                    <li class="active" style="color:yellow"><a href="add/">Search</a></li>

                </ul>
            </div>
        </nav>
        <form method = "post">{% csrf_token %}
            <input name="dt" type="date"/>
            <input type="submit" value="Search" name="Button_clicked"/><br><br>
        </form>
        <div class="row">
            <div class="col-sm-3">
                <form method = "post">{% csrf_token %}
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th><input type="submit" value="add_to_watchlist" name="Button_clicked"></th>
                                <th>Symbol</th>
                                <th>Trade_date</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% if mess and mess == "No data is available" %}
                                <h2>{{ mess }}</h2>
                            {% elif mess %}
                                {% for i in mess %}
                                <tr>
                                    <td><input type="checkbox" name="watch_list" value={{ i.id }}></td>
                                    <td>{{ i.stock }}</td>
                                    <td>{{ i.trade_date }}</td>
                                </tr>
                            {% endfor %}

                            {% endif %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>