<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>Twinbull</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TwinBull</a>
            </div>
            <ul class="nav navbar-nav">
{#                <li><a href="/">Home</a></li>#}
{#                <li><a href="/history">History</a></li>#}
            </ul>
        </div>
    </nav>
    {% block content %}

    {% endblock %}
</div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script src="{% static '/vendor/jquery.timeago.js' %}"></script>
<script src="{% static '/js/app.js' %}"></script>
</html>