{% extends 'stocks/base.html' %}

{% block content %}
<div>
    <form method="post" class="form-inline" style="text-align: center;">
        {% csrf_token %}
        <input id="symbol-tag" name="stock_symbol" type="text" class="form-control" placeholder="SYMBOL"/>
        <input name="trade-date" type="text" id="datepicker" class="form-control"/>
        <input type="submit" value="Search" name="search-btn" class="form-control"/>
    </form>
</div>

<div class="stock-container">
    <form method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Symbol</th>
                <th>Trade Date</th>
                <th>Avg. Price</th>
                <th>LTP</th>
                <th>Overall Gain</th>
                <th>Watch-list</th>
                <th>Comments</th>
            </tr>
            </thead>
            <tbody>
            {% for i in stocks %}
            <tr>
                <td>
                    <div class="symbol" data-target="#deliveryModal"
                         data-symbol="{{ i.stock }}" data-tradedate="{{ i.trade_date }}">
                        {{ i.stock }}
                    </div>
                    <div class="addFadeColor">
                        <a href="{{ i.stock.moneycontrol_link }}"
                           target="_blank"><span class="glyphicon glyphicon-link"></span> MoneyControl</a></div>
                </td>
                <td>{{ i.trade_date }}
                    <div>
                        <time class="timeago addFadeColor" datetime="{{ i.trade_date }}"></time>
                    </div>
                </td>
                <td>{{ i.close }}</td>
                <td>
                    <div class="{{ i.stock }}-current-price"></div>
                    <span class="{{ i.stock }}-today-change today-change"></span></td>
                <td>
                    <div class="{{ i.stock }}-overall-gain" data-close="{{ i.close }}"></div>
                    <div class="{{ i.stock }}-overall-gain-percent addFadeColor"></div>
                </td>
                <td>
                    {% if i.watch_list %}
                    <span class="glyphicon glyphicon-ok ok-btn" data-row-id="{{ i.id }}"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-plus add-btn" data-row-id="{{ i.id }}"></span>
                    {% endif %}
                </td>
                <td>
                    <input class="comment form-control" id="{{ i.id }}" value="{{ i.comments }}">
                </td>

            </tr>
            {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
