<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <title>TwinBull</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Twinbull</a>
                </div>
                <ul class="nav navbar-nav">
                    <li> <a href="/">Home</a></li>
                    <li class="active" style="color:yellow"><a href="/history">History</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <form method="post" class="form-inline" style="text-align: center;">
                {% csrf_token %}
                <input name="trade-date" type="date" class="form-control"/>
                <input type="submit" value="Search" name="Button_clicked" class="form-control"/>
            </form>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <form method="post">
                    {% csrf_token %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th><input type="submit" value="add_to_watchlist" name="Button_clicked"></th>
                                <th>Symbol</th>
                                <th>Trade Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Change</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in stocks %}
                            <tr>
                                <td><input type="checkbox" name="watch_list" value={{ i.id }}></td>
                                <td>{{ i.stock }}</td>
                                <td>{{ i.trade_date }}</td>
                                <td>{{ i.open }}</td>
                                <td>{{ i.close }}</td>
                                <td>{{ i.change }}</td>
                            </tr>
                        {% empty %}
                            <h3>Sorry, No data available</h3>
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>