<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <title>TwinBull</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Twinbull</a>
                </div>
                <ul class="nav navbar-nav">
                    <li> <a href="/">Home</a></li>
                    <li class="active" style="color:yellow"><a href="/history">History</a></li>
                </ul>
            </div>
        </nav>
        <div>
            <form method="post" class="form-inline" style="text-align: center;">
                {% csrf_token %}
                <input name="trade-date" type="date" class="form-control"/>
                <input type="submit" value="Search" name="search-btn" class="form-control"/>
            </form>
        </div>

        <div class="row" style="margin-top: 20px;">
            <div class="col-sm-2"></div>
            <div class="col-sm-6">
                <form method="POST">
                    {% csrf_token %}
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Symbol</th>
                                <th>Trade Date</th>
                                <th>Open</th>
                                <th>Close</th>
                                <th>Change</th>
                                <th>Watch-list</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in stocks %}
                            <tr>
                                <td><a class="symbol" href="https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol={{ i.stock }}"
                                        target="_blank" data-symbol="{{ i.stock }}">{{ i.stock }}
                                    </a>
                                </td>
                                <td>{{ i.trade_date }}</td>
                                <td>{{ i.open }}</td>
                                <td>{{ i.close }}</td>
                                <td>{{ i.change }}</td>
                                <td><input type="checkbox" name="watch_list" value={{ i.id }}
                                           {% if i.watch_list %}
                                            checked=true
                                           {% endif %}
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                <div class="pull-right">
                    <input type="submit" value="Add to Watch-list" name="to_watchlist">
                </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>