<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static '/js/app.js' %}"></script>


    <title>Twinbull</title>
</head>
<body>
    <div class="container">

        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">TWINBULL</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/add">Search</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">


                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Processed days</th>
                            <th>Current Price</th>
                            <th>Overall Gain</th>
                        </tr>
                    </thead>
                    <tbody>
                    <script></script>
                    {% for i in mess %}
                        <tr>
                            <td>{{ i.stock }}</td>
                            <td>5 days</td>
                            <!--<td><font size="4"><script>document.write(httpGet("{{i.stock}}"));</script></font><br/>-->
                            <td><font size="4"></font><br/>

                                 &emsp;<span class="glyphicon glyphicon-arrow-up" style="color:green"></span></td>
                            <td><font size="4">-5</font><br/>&emsp;<span class="glyphicon glyphicon-arrow-down" style="color:red"></span>6%</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>var as = posthttp("SBIN");
    document.write(as.l);
    </script>
</body>
</html>