<!DOCTYPE html>
<html lang="en">
<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<script src="{% static '/js/app.js' %}"></script>-->



    <script src="{% static '/js/app.js' %}"></script>

    <title>Twinbull</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">TWINBULL</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/add">Search</a></li>
                </ul>
            </div>
        </nav>
        <div class="row">
        <a href="https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol=COX&KINGS">stock</a>
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Avg. Price</th>
                            <th>LTP</th>
                            <th>Overall Gain</th>
                            <th>Added at</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for i in mess %}
                        <tr>
                            <td>
                                <a class="symbol" href="https://www.nseindia.com/live_market/dynaContent/live_watch/get_quote/GetQuote.jsp?symbol={{ i.stock }}"
                                   target="_blank" data-symbol="{{ i.stock }}">{{ i.stock }}
                                </a>
                            </td>
                            <td>{{ i.close }}</td>
                            <td> <div id="{{ i.stock }}-current-price"></div>
                                 &emsp;<span class="glyphicon" id="{{ i.stock }}-today-change"></span></td>
                            <td><span class="glyphicon glyphicon-arrow-down" style="color:red"></span>6%</td>
                            <td>5 days</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>