body {
    background-color: hsl(0, 0%, 98%)
}

.addFadeColor, .addFadeColor > a {
    color: #666666;
    font-size: 11px;
}

.today-change{
    font-size: 12px;
}

span.remove-btn {
    margin-top: 35%;
    color: rgb(197, 16, 16);
    visibility: hidden;
    cursor: pointer;
}

tr:hover span.remove-btn {
    visibility: visible;
}
span.add-btn {
    margin-left: 30%;
    margin-top: 13%;
    color: hsl(192, 100%, 40%);
    cursor: pointer;
}

span.ok-btn {
    margin-left: 30%;
    margin-top: 13%;
    color: hsl(120, 60%, 35%);
}

.stock-container {
    margin: 20px 100px 0 100px;
}
.symbol {
    cursor: pointer;
    margin-bottom: 4px;
}
.pre-loader-gif {
    width: 10px;
    height: 10px;
}

/*Override vendor css*/

/*.modal-dialog {*/
    /*max-height: 900px;*/
    /*width: 1200px;*/
/*}*/

.timeago {
    text-transform: capitalize;
}