body {
    background-color: hsl(0, 0%, 92%)
}

.addFadeColor, .addFadeColor > a {
    color: #666666;
    font-size: 11px;
}

.today-change{
    font-size: 14px;
}

.symbol {
    cursor: pointer;
}

span.remove-btn {
    margin-top: 35%;
    color: rgb(197, 16, 16);
    visibility: hidden;
    cursor: pointer;
}

tr:hover span.remove-btn{
    visibility: visible;
}
span.add-btn {
    margin-left: 30%;
    margin-top: 13%;
    color: hsl(192, 100%, 40%);
    cursor: pointer;
}

span.ok-btn {
    margin-left: 30%;
    margin-top: 13%;
    color: hsl(120, 60%, 35%);
}


/*Override vendor css*/

.modal-dialog {
    max-height: 900px;
    width: 1200px;
}

.timeago {
    text-transform: capitalize;
}